body{
  background-image: url("https://i.imgur.com/Eehn7wl.jpg");
  background-position: top center;
  background-repeat:no-repeat;
  background-size: cover;
}
.card{
  background-color: rgb(200, 200, 200, 0.7);

}
.result-card{
  width: 33%;
}
.alert{
  width: 33%;
}
h1{
  text-align: center;
}
